@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";
/* @import "../node_modules/preline/variants.css"; */
/* @plugin "flyonui";
@import "../node_modules/flyonui/variants.css";
@source "../node_modules/flyonui/dist/index.js"; */


@theme {
  --color-offwhite: #f9f7f7;
  --color-lightOrange: #fdca9d;
  --color-lighterOrange: #FFE2C9;
  --color-lightpink: #ffe2c9;
  --color-darkOrange: #ff7700;
  --color-black: #000000;
}

body {
  font-family: "inter", sans-serif;
}


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
  }

  .animate-fade-in-delay-1 {
    animation: fadeIn 1s ease-out 0.3s forwards;
    opacity: 0;
  }

  .animate-fade-in-delay-2 {
    animation: fadeIn 1s ease-out 0.6s forwards;
    opacity: 0;
  }

  .animate-fade-in-delay-3 {
    animation: fadeIn 1s ease-out 0.9s forwards;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}